body {
    /* To do: create a quide on using external fonts*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
p {
  font-size: 1.06rem;  
}

h2 {
    font: 2.48rem;
}





